.helpCenter{
    padding: .5rem 1 rem;
    transition: all .3s ease-in;


}

.helpCenter:hover{
    background-color: var(--icons-color);
    color: var(--shadow-darl-color);
    border-radius: .3rem;
}